.drop-it-hot {
    background-color: #41162a;
    border-radius: 15px;
    width: 700px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 15px 0 rgba(black, .1);
    overflow: hidden;
}

.drop-it-hot:after {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 2px dashed #E6E7F0;
    border-radius: 5px;
    z-index: 0;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    color: #4A90E2;
    background-color: white;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

.circle {
    transition: transform 150ms ease-in;
    z-index: 10;
}

svg {
    width: 40px;
    height: 40px;
}

.circle:before {
    content: '';
    background-color: #4B90E2;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: transform 250ms ease-in, opacity 200ms ease-in;
    z-index: 0;
}

.circle:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle:hover {
    transform: scale(1.2);
    opacity: .9;
}

.circle:before {
    transform: scale(8);
    opacity: 1;
}

.circle:after {
    border: 3px solid white;
}

svg {
    color: white;
    z-index: 1;
}

.highlight:before {
    transform: scale(8);
    opacity: 1;
}

.highlight:after {
    border: 3px solid white;
}

svg {
    color: white;
    z-index: 1;
}


.choose-files {
    align-self: flex-end;
    z-index: 10;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button-wrapper.btn:hover {
    background-color: #4E5056;
}

.label {
    margin-bottom: 20px;
    color: #4E5056;
    font-size: 18px;
}

.button-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #8263c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}

#gallery {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(100%) brightness(100%) sepia(0%) hue-rotate(0deg);
}


.editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    margin-top: -10px;
    z-index: 100;
    opacity: 0;
    transform: translateY(50px);
}

.is-visible {
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.range-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.range {
    -webkit-appearance: none;
    height: 2px;
    border-radius: 5px;
    background: #E6E7F0;
    outline: none;
    padding: 0;
    margin: 10px 0;
}

::-moz-range-track {
    background: #E6E7F0;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background-color: #1A90E2;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background-color: #4A90E2;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background-color: #4A90E2;
    cursor: pointer;
}
